MARIADB_DATABASE=bankpulse
MARIADB_USER=bankpulse
MARIADB_PASSWORD=change_me_for_shared_environments
MARIADB_ROOT_PASSWORD=change_root_password
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=change_mongo_password
